{% extends 'plantillaBase.html' %} {% block content %}
<div class="row ">
    <div class="col">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
</div>
<div class="mt-2">
    <form action="" method="GET">
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus focused">
                    <select class="form-control select floating select2-hidden-accessible " name="grupo" id="id_grupo">

                        {% for dato in grupos %}
                        <option value="{{ dato.id}}">{{ dato.name }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <button type="submit" class="btn btn-primary btn-block"> Filtrar </button>
            </div>
        </div>

    </form>
</div>

<div class="row ">
    <div class="col-md-12">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-border table-striped custom-table  mb-0  no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th>Grupo</th>
                                    <th>Menú</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in object_list %}
                                <tr>
                                    <td>{{ dato.group }}</td>

                                    <td>{{ dato.menu }}</td>
                                    <td>
                                        {% if dato.activo == True%}
                                        <a class="badge " data-toggle="tooltip" data-placement="top" title="Activo"><span class="fa fa-check "></span></a> {% else %}
                                        <a class="badge " data-toggle="tooltip" data-placement="top" title="Activo"><span class="fa fa-times "></span></a> {% endif %}
                                    </td>




                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                {% if perms.covid.change_menu_groups %}
                                                <a class="dropdown-item" href="{% url 'menuAcceso_editar' dato.id%}"><i
                                                        class="fa fa-pencil m-r-5"></i> Cambiar Estado</a> {% endif %}

                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <!-- /paginador -->
            <ul class="pagination pagination-sm m-0 float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mt-2">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                        {% endif %} {% for i in page_obj.paginator.page_range %} {% if i == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
            </ul>
        </div>
    </div>
</div>





{% endblock %} {% block content_extra_js %}
<script>
    /** funcion para abrir el modal de eliminar */
    function abrirModalCambiarEstado(url) {

        $('#cambiarEstado').load(url, function() {
            $('#cambiarEstado').modal('show');
        })
    }
</script>

{% endblock content_extra_js %}