{% extends 'plantillaBase.html' %} {% block content %}
<div class="row">
    <div class="col">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
</div>
<div class=" mt-3">
    <form action="" method="GET">
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus focused">
                    <input type="text" name="buscar" id="id_buscar" class="form-control float-right" placeholder="Buscar">

                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <button type="submit" class="btn btn-success btn-block"> Filtrar </button>
            </div>
        </div>


    </form>
</div>
<div class="row mt-2">

    <div class="col-sm-12 col-12 text-right m-b-20">
        {% if perms.covid.add_user %}
        <a href="{% url 'usuario_crear'%}" class="btn btn btn-primary btn-rounded float-right"><i
                class="fa fa-plus"></i>
            Añadir</a> {% endif %}

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-border table-striped custom-table  mb-0  no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th>usuario</th>
                                    <th>Nombres</th>
                                    <th>Grupo</th>
                                    <th>Email</th>
                                    <th>Cédula</th>
                                    <th style="width: 30.125px;">Activo</th>
                                    <th>Staff status</th>
                                    <th>Superuser status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in object_list %}
                                <tr>
                                    <td>{{ dato.username }}</td>
                                    <td>{{ dato.last_name }} {{ dato.first_name }}</td>
                                    <td>
                                        {% if dato.is_superuser == True %}
                                        <li class="badge badge-pill badge-info">Super Usuario</li>{% endif %} {% for dato in dato.groups.all %}
                                        <li class="badge badge-pill badge-info">{{ dato }}</li>
                                        {% endfor %}



                                    </td>

                                    <td>{{ dato.email }}</td>
                                    <td>{{ dato.cedula }}</td>
                                    <td>
                                        {% if dato.is_active == True %}
                                        <a class="badge " data-toggle="tooltip" data-placement="top" title="activo"><span class="fa fa-check "></span></a> {% else %}
                                        <a class="badge" data-toggle="tooltip" data-placement="top" title="activo"><span
                                                class="fa fa-times "></span></a> {% endif %}
                                    </td>
                                    <td> {% if dato.is_staff == True %}
                                        <a class="badge " data-toggle="tooltip" data-placement="top" title="is staff"><span class="fa fa-check "></span></a> {% else %}
                                        <a class="badge" data-toggle="tooltip" data-placement="top" title="is staff"><span class="fa fa-times "></span></a> {% endif %}
                                    </td>
                                    <td> {% if dato.is_superuser == True %}
                                        <a class="badge " data-toggle="tooltip" data-placement="top" title="is superUser"><span class="fa fa-check "></span></a> {% else %}
                                        <a class="badge" data-toggle="tooltip" data-placement="top" title="is superUser"><span class="fa fa-times "></span></a> {% endif %}
                                    </td>
                                    <td>





                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    {% if perms.covid.change_user %}
                                                    <a class="dropdown-item" href="{% url 'usuario_editar' dato.id%}"><i
                                                        class="fa fa-pencil m-r-5"></i> Editar</a> {% endif %} {% if perms.covid.delete_user%}
                                                    <a class="dropdown-item" onclick="abrirModalEliminar('{% url 'usuario_eliminar' dato.id%}')"><i
                                                        class="fa fa-trash-o  m-r-5"></i>Eliminar</a>{% endif %} {% if perms.covid.view_user %}
                                                    <a class="dropdown-item" onclick="abrirModalDetalle('{% url 'usuario_detalle' dato.id%}')"><i
                                                        class="fa fa-eye  m-r-5"></i>Ver</a>{% endif %}

                                                </div>
                                            </div>
                                        </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock %} {% block content_extra_js %}
<script>
    /** funcion para abrir el modal de eliminar */
    function abrirModalEliminar(url) {

        $('#eliminar').load(url, function() {
            $('#eliminar').modal('show');
        })
    }

    /** funcion para abrir el modal de eliminar */
    function abrirModalDetalle(url) {

        $('#detalle').load(url, function() {
            $('#detalle').modal('show');
        })
    }
</script>


{% endblock content_extra_js %}