{% extends 'plantillaBase.html' %}


{% block content %}



{% for dato in menu %}


<button  onclick="location.href= '{{dato.url}}'"  class=" btn btn-light rounded-0 w-25 p-3 mx-auto align-middle"  >

    <a class="border-0 ">
        <img class=" figure-img img-fluid rounded " src="{{dato.icono.url}}" width="70px" alt="Card image cap">
        <h6 class=" text-center "  >{{dato.titulo.upper}}</h6>
        <figcaption  class="figure-caption">{{dato.descripcion}}</figcaption>
    </a>

</button>





{% endfor %}


{% endblock %}