<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>LabCov - Medical</title>
    <!-- app favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-duallistbox.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link href="{% static 'css/select2.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/select2-bootstrap4.min.css'%}" rel="stylesheet"> {% block content_extra_css %} {% endblock content_extra_css %}
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="{% url 'dashboard'%}" class="logo">
                    <img src="{% static 'img/logo.png' %}" width="35" height="35" alt="">
                    <span>LabCov</span></a>
            </div>


            <ul class="nav user-menu float-right">

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown"></span><span>{{
                            request.user }}</span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'perfilUsuario' %}">Perfil</a> {% if user.is_staff%}
                        <a class="dropdown-item" target="_blank" href="/admin">Django</a> {% endif %}


                        <a class="dropdown-item " href="{% url 'logout'%} ">Cerrar
                            Sesión</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right ">
                <a href="# " class="nav-link dropdown-toggle " data-toggle="dropdown " aria-expanded="false ">
                    <i class="fa fa-ellipsis-v "></i></a>
                <div class="dropdown-menu dropdown-menu-right ">
                    <a class="dropdown-item " href="{% url 'perfilUsuario' %} ">Perfil</a> {% if user.is_staff %}
                    <a class="dropdown-item " target="_blank " href="/admin ">Django</a> {% endif %}



                    <a class="dropdown-item " href="{% url 'logout'%} ">Cerrar Sesión</a>
                </div>
            </div>
        </div>

        <div class="page-wrapper ">

            <div class="content ">
                <div class="row mb-2 ">
                    <div class="col-sm-8 ">
                        <h1 class="m-0 text-dark ">{{ titulo.upper }}</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 ">
                        <ol class="breadcrumb float-sm-right ">
                            <li class="breadcrumb-item "><a href="{% url 'dashboard'%} ">Inicio</a></li>
                            <li class="breadcrumb-item active ">Menú</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                {% block content %} {% endblock %}

            </div>

        </div>
    </div>
    <div class="sidebar-overlay " data-reff=" "></div>


    <script src="{% static 'js/jquery-3.2.1.min.js'%} "></script>
    <script src="{% static 'js/popper.min.js'%} "></script>
    <script src="{% static 'js/bootstrap.min.js'%} "></script>
    <script src="{% static 'js/jquery.slimscroll.js'%} "></script>
    <script src="{% static 'js/app.js'%} "></script>
    <script src="{% static 'js/jquery.bootstrap-duallistbox.min.js' %} "></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/ruc_jquery_validator.min.js' %}"></script>
    <script>
        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()
    </script>
    <script>
        $(function() {
            $('.select').select2({
                theme: "bootstrap4",
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.solo-letra').bind('keypress', function(event) {
                    var regex = new RegExp("^[a-zA-Z ]+$");
                    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                    if (!regex.test(key)) {
                        event.preventDefault();
                        return false;
                    }
                }

            );
        });

        $(document).ready(function() {
            $('.solo-numero').bind('keypress', function(event) {
                    var regex = new RegExp("^[0-9]");
                    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                    if (!regex.test(key)) {
                        event.preventDefault();
                        return false;
                    }
                }

            );
        });
        var opciones = {
            strict: true, // va a validar siempre, aunque la cantidad de caracteres no sea 10 ni 13
            events: "change", // evento que va a disparar la validación
            the_classes: "invalid", // clase que se va a agregar al nodo en el que se realiza la validación
            onValid: function() {}, // callback cuando la cédula es correcta.
            onInvalid: function() {} // callback cuando la cédula es incorrecta.
        };

        $("#id_cedula").validarCedulaEC({

            onInvalid: function() {
                window.alert("cédula inválida.");
                console.log(this);
            }
        });
    </script>

    {% block content_extra_js %} {% endblock content_extra_js %}
</body>

</html>