<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detalle Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body ">
            <table class="table table-bordered  table-responsive-sm table-responsive-xl">
                <tbody>

                    <tr>

                        <th>Nombres:</th>
                        <td>{{ object.usuario.last_name }} {{ object.usuario.first_name }}</td>

                    </tr>

                    <tr>
                        <th>Email:</th>
                        <td colspan="5">{{ object.usuario.email }}</td>
                    </tr>
                    <tr>
                        <th>Cédula:</th>
                        <td colspan="5">{{ object.usuario.cedula }}</td>
                    </tr>
                    <tr>
                        <th>Género:</th>
                        <td colspan="5">{{ object.usuario.genero }}</td>
                    </tr>
                    <tr>
                        <th>Dirección:</th>
                        <td colspan="5">{{ object.direccion }}</td>
                    </tr>
                    <tr>
                        <th>¿Se encuentra vacunado contra el Covid-19?:</th>

                        <td colspan="5">
                            {% if object.es_vacunado == True%}
                            <span class="badge badge-success">SI</span> {% else %}
                            <span class="badge badge-danger">NO</span>{% endif %}

                        </td>
                    </tr>
                    <tr>
                        <th>Vacuna aplicada:</th>
                        <td colspan="5">
                            {% if object.vacuna %} {{object.vacuna}} {% else %} No tiene vacuna aplicada {% endif %}
                        </td>
                    </tr>


                </tbody>
            </table>


        </div>

        </form>
    </div>

</div>