{% extends 'plantillaBase.html' %} {% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            {% if form.errors %}

            <div class="alert alert-danger" role="alert">
                <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
                <ul>
                    {% for field in form %} {% for error in field.errors %}
                    <li>
                        {{error}}
                    </li>
                    {% endfor %} {% endfor %}
                </ul>

            </div>
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" class="card-box" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="card-title">Información Personal del Paciente</h3>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            {{form2.last_name.label}} {{form2.last_name}}
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            {{form2.first_name.label}} {{form2.first_name}}
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            {{form2.cedula.label}} {{form2.cedula}}
                        </fieldset>
                    </div>
                    <div class="col-md-6">

                        <fieldset class="form-group">
                            {{form2.email.label}} {{form2.email}}
                        </fieldset>
                    </div>

                    <div class="col">
                        <fieldset class="form-group">
                            {{form2.genero.label}} {{form2.genero}}
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset class="form-group">
                            {{form.direccion.label}} {{form.direccion}}
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            {{form.fec_nac.label_tag}} {{form.fec_nac}} {{ form.fec_nac.errors }}
                        </fieldset>
                    </div>
                    <div class="container">
                        <h3 class="card-title">Información Médica</h3>
                    </div>

                    <div class="col-md-12">
                        <fieldset class="form-group">
                            {{form.es_vacunado.label}} {{form.es_vacunado}}
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset class="form-group " id="id_div_vacuna">
                            {{form.vacuna.label}} {{form.vacuna}}
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset class="form-group ">
                            {{form.Diagnostico.label}} {{form.Diagnostico}}
                        </fieldset>
                    </div>




                </div>
                <div class="m-t-20 text-center">
                    <a type="button" class="btn btn-danger submit-btn" href="{% url 'paciente_listar' %}">Cancelar</a>
                    <button class="btn btn-primary submit-btn">Guardar Registro</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %} {% block content_extra_js %}
<script>
    function ocultarCampos() {

        var div = document.getElementById("id_div_vacuna");
        if ($('#id_es_vacunado').prop('checked')) {
            div.style.display = "block";

        } else {
            div.style.display = "none";

        }
    }
    window.onload = ocultarCampos;
</script>
{% endblock content_extra_js %}