{% extends 'plantillaBase.html' %} {% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            {% if form.errors %}

            <div class="alert alert-danger" role="alert">
                <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
                <ul>
                    {% for field in form %}
                     {% for error in field.errors %}
                    <li>
                        {{error}}
                    </li>
                    {% endfor %}
                    {% endfor %}

                </ul>

            </div>
            {% endif %} 
            

           

        </div>

    </div>
    <div class="row">

        <div class="col-lg-8 offset-lg-2">

            <form method="post" class="card-box" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="card-title">Información Personal del Paciente</h3>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            {{form2.last_name.label_tag}} {{form2.last_name}} {{ form2.last_name.errors }}
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            {{form2.first_name.label_tag}} {{form2.first_name}} {{ form2.first_name.errors }}
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            {{form2.cedula.label_tag}} {{form2.cedula}}{{ form2.cedula.errors }}
                        </fieldset>
                    </div>
                    <div class="col-md-4">

                        <fieldset class="form-group">
                            {{form2.email.label_tag}} {{form2.email}}{{ form2.email.errors }}
                        </fieldset>
                    </div>

                    <div class="col-md-4">
                        <fieldset class="form-group">

                            {{form2.genero.label_tag}} {{form2.genero}}{{ form2.email.errors }}
                        </fieldset>
                    </div>
                    <div class="col-md-8">
                        <fieldset class="form-group">
                            {{form.direccion.label_tag}} {{form.direccion}} {{ form.direccion.errors }}
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            {{form.fec_nac.label_tag}} {{form.fec_nac}} {{ form.fec_nac.errors }}
                        </fieldset>
                    </div>
                    <div class="container">
                        <h3 class="card-title">Información Médica</h3>
                    </div>


                    <div class="col-md-12">
                        <fieldset class="form-group">
                            {{form.es_vacunado.label_tag}} {{form.es_vacunado}} {{ form.es_vacunado.errors }}
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset class="form-group " id="id_div_vacuna">
                            {{form.vacuna.label_tag}} {{form.vacuna}} {{ form.vacuna.errors }}
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset class="form-group ">
                            {{form.Diagnostico.label_tag}} {{form.Diagnostico}} {{ form.Diagnostico.errors }}
                        </fieldset>
                    </div>



                </div>


                <div class="m-t-20 text-center">
                    <a type="button" class="btn btn-danger submit-btn" href="{% url 'paciente_listar' %}">Cancelar</a>
                    <button class="btn btn-primary submit-btn">Guardar Registro</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %} {% block content_extra_js %}

<script>
    function ocultarCampos() {

        var div = document.getElementById("id_div_vacuna");
        if ($('#id_es_vacunado').prop('checked')) {
            div.style.display = "block";

        } else {
            div.style.display = "none";

        }
    }
    window.onload = ocultarCampos;
</script>
{% endblock content_extra_js %}