{% extends 'plantillaBase.html' %} {% load static %} {% block content_extra_js %}
<script src="{% static 'plugins/Highcharts-9.3.0/code/highcharts.js'%}"></script>
<script src="{% static 'plugins/Highcharts-9.3.0/code/modules/exporting.js'%}"></script>
<script src="{% static 'plugins/Highcharts-9.3.0/code/modules/export-data.js'%}"></script>
<script src="{% static 'plugins/Highcharts-9.3.0/code/modules/accessibility.js'%}"></script>
<script>

    var positivo = "{{positivos}}"

    var negativo = "{{negativo}}"

    var positivosFem = "{{positivosFem}}"
    var negativoFem = "{{negativoFem}}"
    var positivosMasc = "{{positivosMasc}}"
    var negativoMasc = "{{negativoMasc}}"


    var eneroPos = "{{eneroPos}}"
    var eneroNeg = "{{eneroNeg}}"
    var febPos = "{{febPos}}"
    var febNeg = "{{febNeg}}"
    var marzPos = "{{marzPos}}"
    var marzNeg = "{{marzNeg}}"
    var abrilPos = "{{abrilPos}}"
    var abrilNeg = "{{abrilNeg}}"
    var mayPos = "{{mayPos}}"
    var mayNeg = "{{mayNeg}}"
    var junioPos = "{{junioPos}}"
    var junioNeg = "{{junioNeg}}"
    var julioPos = "{{julioPos}}"
    var julioNeg = "{{julioNeg}}"
    var agostPos = "{{agostPos}}"
    var agostNeg = "{{agostNeg}}"
    var septPos = "{{septPos}}"
    var septNeg = "{{septNeg}}"
    var octPos = "{{octPos}}"
    var octNeg = "{{octNeg}}"
    var novPos = "{{novPos}}"
    var novNeg = "{{novNeg}}"
    var dicPos = "{{dicPos}}"
    var dicNeg = "{{dicNeg}}"


    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Total de casos por Covid-19 Mensual'
        },
        xAxis: {
            categories: [
                'Enero',
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Noviembre',
                'Diciembre'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Positivo',
            data: [parseInt(eneroPos), parseInt(febPos), parseInt(marzPos), parseInt(abrilPos), parseInt(mayPos), parseInt(junioPos), parseInt(julioPos), parseInt(agostPos), parseInt(septPos), parseInt(octPos), parseInt(novPos), parseInt(dicPos)]

        }, {
            name: 'Negativo',
            data: [parseInt(eneroNeg), parseInt(febNeg), parseInt(marzNeg), parseInt(abrilNeg), parseInt(mayNeg), parseInt(junioNeg), parseInt(julioNeg), parseInt(agostNeg), parseInt(septNeg), parseInt(octNeg), parseInt(novNeg), parseInt(dicNeg)]

        }]
    });
    Highcharts.chart('pie-chart', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Porcentaje de casos de Covid-19'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Positivos',

                y: parseInt(positivo),
                sliced: true,
                selected: true
            }, {
                name: 'Negativos',
                y: parseInt(negativo),
            }]
        }]
    });
    Highcharts.chart('casos-genero', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Total de casos de Covid-19 por Gènero'
        },
        xAxis: {
            categories: [
                'Femenino',
                'Masculino'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Positivo',
            data: [parseInt(positivosFem), parseInt(positivosMasc)]

        }, {
            name: 'Negativo',
            data: [parseInt(negativoFem), parseInt(negativoMasc)]

        }]
    });
</script>

<script>    
    $('#edadMin').change(()=>{
        
        let edadMin = document.querySelector('#edadMin').value;
        let edadMax = document.querySelector('#edadMax').value;
        console.log("Edad: "+edadMin +"-"+edadMax)
        if (edadMin>edadMax || edadMin==100){
            edadMin = edadMax-1
            document.querySelector('#edadlbl').innerText ="Edad: "+edadMin +"-"+edadMax
            document.querySelector('#edadMin').value=edadMin
        }else{
            document.querySelector('#edadlbl').innerText ="Edad: "+edadMin +"-"+edadMax
        }
        
    });
    $('#edadMax').change(()=>{
        let edadMin = document.querySelector('#edadMin').value;
        let edadMax = document.querySelector('#edadMax').value;
        console.log("Edad: "+edadMin +"-"+edadMax)
        if (edadMin>edadMax || edadMax==12){
            edadMax = ''+(parseInt(edadMin)+1);
            document.querySelector('#edadlbl').innerText ="Edad: "+edadMin +"-"+edadMax
            document.querySelector('#edadMax').value = parseInt(edadMax)
        }else{
            document.querySelector('#edadlbl').innerText ="Edad: "+edadMin +"-"+edadMax
        }
    });
</script>
{% endblock content_extra_js %} {% block content %}

       
               <div class="row">
                   <div class="col">
                        <form action="" method="GET">
                    <div class="row filter-row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus  focused">
                                <select class="form-control  " name="year" id="id_year">
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                </select>
                            </div>
                           
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="edad" id="edadlbl" >Edad: 25 - 40</label>

                                <input class="form-control" id="edadMin"  name="edadMin" type="range" min="12" max="100" step="1" value="25">
                                <input class="form-control" id="edadMax" name="edadMax" type="range" min="12" max="102" step="1" value="40">
                            </div>
                        </div>
                            
                        <div class="col-sm-6 col-md-3">
                            <button type="submit" class="btn btn-primary btn-block"> Filtrar </button>
                        </div>

                    </div>
                    

                </form>
                   </div>
               </div>

                <div class="col-sm-12 ">
                    <h1 class="m-0 text-dark ">{{ anio }}</h1>
                </div>
               

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 ">
                        <div id="pie-chart">

                        </div>
                    </div>


                    <div class="col-md-12 mt-4">

                        <div id="container">

                        </div>
                    </div>

                   


                    <div class="col-lg-12 mt-4">
                        <div id="casos-genero">

                        </div>
                    </div>
                </div>
            </div>
    
   

{% endblock %}