{% extends 'plantillaBase.html' %} {% load static %} {% block content_extra_js %}
<script src="{% static 'plugins/Highcharts-9.3.0/code/highcharts.js'%}"></script>
<script src="{% static 'plugins/Highcharts-9.3.0/code/modules/exporting.js'%}"></script>
<script src="{% static 'plugins/Highcharts-9.3.0/code/modules/export-data.js'%}"></script>
<script src="{% static 'plugins/Highcharts-9.3.0/code/modules/accessibility.js'%}"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Promedio de casos de Covid por Mes'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Positivo',
            data: [49, 71, 106, 129, 144, 176, 135, 148, 216, 194, 95, 54]

        }, {
            name: 'Negativo',
            data: [83, 78, 98, 93, 106, 84, 105, 104, 91, 83, 106, 92]

        }]
    });
    Highcharts.chart('pie-chart', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Porcentaje de casos de Covid-19'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Positivo',
                y: 61,
                sliced: true,
                selected: true
            }, {
                name: 'Negativos',
                y: 11
            }]
        }]
    });
    Highcharts.chart('casos-genero', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Promedio de casos por Genero'
        },
        xAxis: {
            categories: [
                'Femenino',
                'Masculino'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Positivo',
            data: [49, 71]

        }, {
            name: 'Negativo',
            data: [83, 78]

        }]
    });
</script>
{% endblock content_extra_js %} {% block content %}
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="container">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="pie-chart">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="casos-genero">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}